#google{
    font-size: 50px;
    margin-top: 100px;
    color: fuchsia; text-align: center;
}
#advance{ height: 30px;
    margin: left 40px;
    margin-top: 10px;
     width: 100%;
     position: relative;
    size: 40px;
    border-top: solid rgb(247, 4, 4) 2px;
    border-bottom: solid rgb(233, 5, 5) 2px;
    border-right: solid red 2px;
    border-left:solid red 2px;
    align-items: center;
    float: left;
}
.imagesearch{
    width: 200px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 30%;
    font-size: 25px;font-style: italic;
    font-family: sans-serif;
    color:rgb(210, 224, 210);
    background-color: green;
    border-top: solid rgb(135, 231, 8) 5px;
    border-bottom: solid rgb(179, 209, 9)  5px;
    border-left: solid rgb(170, 240, 9) 5px;
    border-right: solid rgb(188, 238, 6) 5px;
    padding: 5px;
    text-align: center; align-items: center;
}
.link3{
    color: darkgreen; font-size: 30px;
    margin-left: 10px;
    font-family: sans-serif;
    float: left; margin-right: 5px;

}